-# in app/views/movies/show.html.haml

%h2 Review about #{@movie.title}

%h3 Potatoes: #{@moviegoer_reviews.potatoes}
%h3 Comment:
%p#:comments=@moviegoer_reviews.comments

= link_to 'Edit Review', edit_movie_review_path(@movie)
%div

= link_to 'Back to All reviews movie', movie_reviews_path(@movie)
